# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Docker
.dockerignore

# Uploads
backend/uploads/

# Build artifacts
frontend/.next/
frontend/out/
backend/dist/
